<!DOCTYPE html>
<html>
<head lang="en">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'comp/about.css' %}" />

    <title>About</title>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/">JobCharted</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/review_analytics/">Methodology</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
        <!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      -->
    </div>
  </div>
</nav>

<div class="jumbotron container-fluid">
    <div class="row"></div>
        <div class="vicky_text_box col-xs-12 col-sm-8">
            <h2>Methodology of analytics</h2>
            <p>I programmatically collected ratings and reviews from source websites using BeautifulSoup and urllib, and analyzed them using Python, NLTK, pandas, numpy, and json.</p>
            <h2>Full tech specs</h2>
            <p>Front-end: HTML5, CSS, Bootstrap, JavaScript, D3.js</p>
            <p>Middleware: Python, Django, pandas, request, BeautifulSoup, NLTK, json</p>
            <p>Back-end: MySQL</p>
            <p>Version Control: Git</p>
        </div>
    </div>
</div>

</body>
</html>
