<!DOCTYPE html>
<html>
<head lang="en">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'comp/review_summary.css' %}" />

    <title>Review Analytics</title>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/">JobCharted</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/{{ rating.id }}/company/">Company - {{ common_words.0.company }}
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/{{ common_words.0.company_id }}/ratings/">Ratings</a></li>
            <li class="active"><a href="/{{ common_words.0.company_id }}/review_summary/">Review Analytics</a></li>
          </ul>
        </li>
        <li><a href="/methodology/">Methodology</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
        <!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      -->
    </div>
  </div>
</nav>

<div class="jumbotron container-fluid span10">
    <div class="title">
        {% if common_words %}
            <h2>{{ common_words.0.company }} - Review Analytics Summary</h2>
        {% endif %}
    </div>
    <div class="chart_title">
        <h4 class="text-center title">The most frequent nouns in reviews</h4>
    </div>
    <div class="noun"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        var w = 1000,
        h = 300;

        var svg = d3.select(".noun")
            .append("svg")
            .attr("width", w)
            .attr("height", h);

        {% load staticfiles %}
        d3.json("{% static "comp/summary.json" %}", function(error, json) {
            if (error) return console.log(error);
            var data = json[{{ common_words.0.company_id }}].slice(0, 10);
            console.log(data);
            var max_n = 0;
            for (var d in data) {
                max_n = Math.max(data[d].n, max_n);
            }

            var dx = w / max_n;
            var dy = h / data.length;

            // bars
            var bars = svg.selectAll(".bar")
                .data(data)
                .enter()
                .append("rect")
                .attr("class", function(d, i) {return "bar " + d.label;})
                .attr("x", function(d, i) {return 0;})
                .attr("y", function(d, i) {return dy*i;})
                .attr("width", function(d, i) {return dx*d.n})
                .attr("height", dy)
                .style("fill", "steelblue");

            // labels
            var text = svg.selectAll("text")
                .data(data)
                .enter()
                .append("text")
                .attr("class", function(d, i) {return "label " + d.label;})
                .attr("x", function(d, i) {return dx * d.n - 10;})
                .attr("y", function(d, i) {return dy*i + 20 ;})
                .text( function(d) {return d.label + " (" + d.n  + ")";})
                .style("font-size", "15px")
                .attr("text-anchor", "end")
                .style("font-weight", "bold")
                .style("fill", "white");

        });
        </script>

    <div class="chart_title">
        <h4 class="text-center title">The most frequent adjectives in reviews</h4>
    </div>
    <div class="adj"></div>
    <script type="text/javascript">
        var w = 1000,
        h = 300;

        var svg1 = d3.select(".adj")
            .append("svg")
            .attr("width", w)
            .attr("height", h);

        {% load staticfiles %}
        d3.json("{% static "comp/summary.json" %}", function(error, json) {
            if (error) return console.log(error);
            console.log("entered svg adj");
            var data = json[{{ common_words.0.company_id }}].slice(10, 20);
            console.log(data);
            var max_n = 0;
            for (var d in data) {
                max_n = Math.max(data[d].n, max_n);
            }

            var dx = w / max_n;
            var dy = h / data.length;

            // bars
            var bars = svg1.selectAll(".bar")
                .data(data)
                .enter()
                .append("rect")
                .attr("class", function(d, i) {return "bar " + d.label;})
                .attr("x", function(d, i) {return 0;})
                .attr("y", function(d, i) {return dy*i;})
                .attr("width", function (d, i) {return dx*d.n})
                .attr("height", dy)
                .style("fill", "#C26868");

            // labels
            var text = svg1.selectAll("text")
                .data(data)
                .enter()
                .append("text")
                .attr("class", function(d, i) {return "label " + d.label;})
                .attr("x", function(d, i) {return dx * d.n - 10;})
                .attr("y", function(d, i) {return dy*i + 20 ;})
                .text( function(d) {return d.label + " (" + d.n  + ")";})
                .style("font-size", "15px")
                .attr("text-anchor", "end")
                .style("font-weight", "bold")
                .style("fill", "white");

        });
    </script>

    <div class="chart_title">
        <h4 class="text-center title" id="phrase_title"></h4>
    </div>
    <div class="phrase"></div>
    <script type="text/javascript">


        {% load staticfiles %}
        d3.json("{% static "comp/summary.json" %}", function(error, json) {
            if (error) return console.log(error);
            if (String(json[{{ common_words.0.company_id }}].slice(20, 30)) == []) {
                console.log("no data for phrases");
            }
            else {
                var title = document.getElementById("phrase_title");
                title.innerHTML = "The most frequent phrases in reviews";
                var w = 1000,
                h = 300;
                var svg2 = d3.select(".phrase")
                            .append("svg")
                            .attr("width", w)
                            .attr("height", h);

                            console.log("entered svg phrase");
                            var data = json[{{ common_words.0.company_id }}].slice(20, 30);
                            console.log(data);
                            var max_n = 0;
                            for (var d in data) {
                                max_n = Math.max(data[d].n, max_n);
                            }

                            var dx = w / max_n;
                            var dy = h / data.length;

                            // bars
                            var bars = svg2.selectAll(".bar")
                                .data(data)
                                .enter()
                                .append("rect")
                                .attr("class", function(d, i) {return "bar " + d.label;})
                                .attr("x", function(d, i) {return 0;})
                                .attr("y", function(d, i) {return dy*i;})
                                .attr("width", function (d, i) {return dx*d.n})
                                .attr("height", dy)
                                .style("fill", "#CF7C00");

                            // labels
                            var text = svg2.selectAll("text")
                                .data(data)
                                .enter()
                                .append("text")
                                .attr("class", function(d, i) {return "label " + d.label;})
                                .attr("x", function(d, i) {return dx * d.n - 10;})
                                .attr("y", function(d, i) {return dy*i + 20 ;})
                                .text( function(d) {return d.label + " (" + d.n  + ")";})
                                .style("font-size", "15px")
                                .attr("text-anchor", "end")
                                .style("font-weight", "bold")
                                .style("fill", "white");

                        };
        });
    </script>

    <!--        var a = "{{common_words}}"
        console.log(a);-->
    <!--src="../../static/comp/review_summary.js"--->
    <!---{% load staticfiles %}
    <script src="{% static 'comp/review_summary.js' %}"></script>
    --->
    <div>
        <h4 class="text-center title">Table of Frequent Words</h4>
    </div>
    <div class="tableDiv">
        {% if common_words %}
            <table class="data table table-bordered table-striped table-hover container-fluid">
                <tr>
                    <th>Company</th>
                    <th>Word</th>
                    <th>Part of Speech</th>
                    <th>Frequency</th>
                </tr>
                {% for word in common_words %}
                    <tr>
                        <td>{{ word.company }}</td>
                        <td>{{ word.word }}</td>
                        <td>{{ word.part_of_speech }}</td>
                        <td>{{ word.frequency }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>The review summary for this company is not available.</p>
        {% endif %}
    </div>
</div>

</body>
</html>
