.navbar {
         font-family: 'Open Sans', sans-serif;
         font-weight: bold;
         }
body {
        font-family: 'Open Sans', sans-serif;
        background: white url("images/index_background.jpg") no-repeat;
        }
h1, h2, h3 {
         font-weight: bold;
         text-align: center;
         color: white;
}


/* Tag selectors such as h2 are for font configuration only, such as boldness and size.
   Class selectors are for absolute positioning.*/

.semi_transparent_bg {
            position: relative;
            text-align: center;
            width: 95%;
            margin: 0 auto;
            top: 150px;
            left: 30px;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            opacity: 0.5;
            background-color: #fff;
            height: 240px;
            border-radius:3px;
            z-index:1;
/* The key is to add a parallel container with absolute positioning and z-index = 1, while texts have z-index = 2 */
}
.search {
        position: relative;
        top: 100px;
        text-align: center;
        z-index: 2;
        color: white;
}

.query {
         top: 120px;
}
.list {
        position: relative;
        top: 130px;
        font-size: 16px;
        text-align: center;
        z-index: 2;
        color: white;
}
.rating_list{
        list-style-type: none;
}
.input_box {
        width: 200px;
        height: 45px;
        
}
.body_box {
        position: relative;
}

.signature {
    color: white;
    position: relative;
    bottom: -200px;
}

@media screen and (min-width: 1200px)  {
    .input_box {
    position: relative;
    right: 40px;
    }

    .btn_submit {
        position: relative;
        right: 20px;
    }
}

@media screen and (max-device-width: 768px)  { 
     .search {
              position: relative;
              top: 20px;
     }
     .query {
              position: relative;
              top: 20px;
     }
     .list {
              position: relative;
              top: 20px;
     }
}
input::-webkit-input-placeholder { font-size: 12pt; }
input::-moz-placeholder { font-size: 12pt; }
input:-ms-input-placeholder { font-size: 12pt; }
input:-moz-placeholder { font-size: 12pt; }

