.navbar {
         font-family: 'Open Sans', sans-serif;
         font-weight: bold;
         width: 100%;
         }
body {
        font-family: 'Open Sans', sans-serif;
        }
/* Tag selectors such as h2 are for font configuration only, such as boldness and size.
   Class selectors are for absolute positioning.*/
table  {
        width: 100%;
        }
td  {
        width: 25%;
}
.title {
        position: relative;
        left: 100px;
        font-weight: bold;
}

.data {
        position: relative;
        left: 100px;
        font-size: 16px;
        white-space: nowrap;
}
.jumbotron {
        padding: 30px;
}